.container {
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header-container header-container header-container"
    "main main main"
    "footer footer footer";
}

.header-container {
  min-height: 200px;
  background-image: url("../img/fons.jpg");
  background-position: center center;
  background-size: cover;
  padding: 20px;
  grid-area: header-container;

  /* colocar nav y header */
  height: 90%;
  display: grid;
  gap: 1em;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "nav"
    "header";
}

nav {
  min-height: 20px;
  padding: 20px;
  grid-area: nav;

  /* colocar box 1,2 y 3 */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "box1 box2 box3";
}

.box1 {
  min-height: 20px;
  grid-area: box1;
}

.logo {
  width: 70px;
}

.box2 {
  min-height: 20px;
  grid-area: box2;
}

label,
input {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #ff8989;
  border-radius: 5px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
  padding: 10px;
  float: left;
}

.box3 {
  min-height: 20px;
  grid-area: box3;
  display: grid;
  justify-content: center;
  align-content: space-between;
}

.social:hover {
  background-color: #ff8989;
  border-radius: 5px;
}

header {
  min-height: 25px;
  padding: 20px;
  background-color: #00000010;
  grid-area: header;
}

h1 {
  color: rgba(255, 118, 118, 0.699);
  text-align: center;
}

/* LINKS */

i {
  color: #6d6b6b;
}

.icon-letters {
  color: #6d6b6b;
  display: inline;
  margin: 0 10px 0 10px;
  font-family: "Century Gothic", Times, serif;
  font-size: 0.9em;
  font-weight: 500;
}

.main {
  min-height: 25px;
  background-color: #bebcbc;
  padding: 20px;
  grid-area: main;
  /* colocar section y aside */
  display: grid;
  gap: 1em;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas: "section aside";
}

section {
  min-height: 25px;
  padding: 20px;
  background-color: #dcdcdc;
  grid-area: section;
  /* colocar contenedor artículos */
  display: grid;
  gap: 1em;
  grid-template-areas:
    "child1"
    "child2"
    "child3";
}

.child1 {
  min-height: 25px;
  background-color: #dcdcdc;
  grid-area: child1;
  /* colocar 2 cajas */
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "subchild1 subchild2";
}

.subchild1 {
  min-height: 25px;
  padding-bottom: 20px;
  background-color: #ececec;
  grid-area: subchild1;
  border: 5px solid #ececec;
}

.subchild2 {
  min-height: 25px;
  padding-bottom: 20px;
  background-color: #ececec;
  grid-area: subchild2;
  border: 5px solid #ececec;
}

.child2 {
  min-height: 25px;
  background-color: #dcdcdc;
  grid-area: child2;
  /* colocar 2 cajas */
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "subchild1 subchild2";
}

.child3 {
  min-height: 25px;
  padding-bottom: 20px;
  background-color: #ececec;
  grid-area: child3;
  border: 5px solid #ececec;
}

/* ARTICULOS */

.text-container {
  background-color: #f73f52;
  height: 30px;
  position: absolute;
  bottom: -1px;
  width: 100%;
}

.image-text {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 4px;
  padding-top: 16px;
}

.image-container {
  position: relative;
  bottom: 1px;
}

.image-container-art5 {
  position: relative;
  bottom: 1px;
}

.date {
  color: white;
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: -13px;
  left: 5px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

/* READ MORE */

#more1,
#more2,
#more3,
#more4,
#more5 {
  display: none;
}

button {
  background: none;
  color: rgb(83, 83, 83);
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

aside {
  min-height: 25px;
  background-color: #f73f52;
  grid-area: aside;
  padding: 20px;
  /* colocar 2 cajas */
  display: grid;
  grid-template-rows: 25px 25px;
  gap: 1em;
  grid-template-areas:
    "child4"
    "child5";
}

.child4 {
  min-height: 25px;
  background-color: #feea85;
  grid-area: child4;
}

.child5 {
  min-height: 25px;
  background-color: #feea85;
  grid-area: child5;
}

.footer-container {
  min-height: 20px;
  background-color: black;
  padding: 20px;
  grid-area: footer;
}

footer {
  min-height: 20px;
  background-color: #e6af2e;
}

/* MEDIA QUERIES */

/* TABLET */

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .main {
    /* colocar section y aside */
    display: grid;
    gap: 1em;
    grid-template-rows: 3fr 0.5fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "section"
      "aside";
  }
}

/* MÓVIL */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header-container {
    background-image: url("../img/fons_petit.jpg");
  }

  header {
    position: relative;
  }

  h1 {
    position: absolute;
    top: 70px;
    left: 20px;
  }

  .main {
    /* colocar section y aside */
    display: grid;
    gap: 1em;
    grid-template-rows: 3fr 0.2fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "section"
      "aside";
  }

  .child1 {
    /* colocar 2 cajas */
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: "subchild1" "subchild2";
  }

  .child2 {
    /* colocar 2 cajas */
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: "subchild1" "subchild2";
  }
}
